# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# OS X:
.DS_Store

# WEIPDCRM:
*.espressostorage
main/favicon.ico
main/CydiaIcon.png
main/Packages
main/Release
main/Packages.gz
main/Packages.bz2
main/system/version.inc.php
main/system/config/autofill.inc.php
main/system/config/config.inc.php
main/system/config/connect.inc.php
main/system/config/gnupg.inc.php
main/system/config/release.save
main/system/languages/*zh_CN.*
main/tmp/
main/image/
main/icons/*
!main/icons/default/
main/upload/*.deb
main/downloads/*/

main/.idea/*
